.BooksListItem-card {
  background: white;
  border-radius: 4px;
  padding: 10px;
  color: #4B6779;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
  position: relative;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.BooksListItem-book-icon {
  width: 70px;
  height: 70px;
  background: #eee;
  border-radius: 50%;
}

.BooksListItem-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70px;
}

.BooksListItem-publish-date {
  font-size: 0.75rem;
  padding-top: 1em;
}

.BooksListItem-info {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  padding-left: 1.5em;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
}

.BooksListItem-title {
  font-size: 1.35rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.BooksListItem-genre {
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 0.85em;
  color: #a0a0a0;
}

.BooksListItem-aditional-info {
  font-size: 1rem;
  padding-top: 1.8em;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
}

.BooksListItem-aditional-info span:first-child {
  padding-right: 0.5rem;
}

.BooksListItem-aditional-info span:last-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



.BooksListItem-placeholder-sorting,
.BooksListItem-placeholder-loading {
  width: 20px;
  height: 20px;
  background: #eee;
  animation: 1s load infinite;
  animation-timing-function: linear;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.BooksListItem-placeholder-sorting {
  background: none;
  color: #eee;
  font-weight: bold;
  animation: none;
  right: 60px;
}

@keyframes load {
  0% { transform: rotate3d(0, 0, 1, 0deg); border-radius: 20%;}
  50% { border-radius: 50%; }
  100% { transform: rotate3d(0, 0, 1, -360deg); border-radius: 20%; }
}
