.BooksFilters-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.05rem 0;
  z-index: 1000;
  background-color: #DBDFE8;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.BooksFilters-main {
  max-width: 400px;
  margin: 0 auto;
}

.BooksFilters-filter-group {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.BooksFilters-filter-group:last-child {
  margin-bottom: 0;
}

.BooksFilters-filter-group .BooksFilters-title {
  margin-top: 0;
  font-size: 1rem;
  margin-bottom: 0.5em;
  color: #9FAFCA;
  margin: 0;
}

.BooksFilters-filters {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10px;
}

.BooksFilters-separator:after {
  color: #9FAFCA;
  content: '|';
  margin: 0 20px;
  font-size: 2rem;
  font-weight: lighter;
  display: inline-block;
  height: 30px;
  line-height: 24px;
}

.BooksFilters-separator:last-child {
  display: none;
}

.BooksFilters-icon-filters {
  display: flex;
  align-items: center;
  justify-content: center;
}

.BooksFilters-icon-filter {
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 5px;
}

.BooksFilters-sort-filter {
  position: relative;
  min-width: 100px;
  padding: 10px;
  padding-left: 0;
}

.BooksFilters-sort-filter > span {
  display: inline-block;
  margin-right: 15px;
  font-weight: bold;
  transition: color 250ms;
  color: #31405e;
}

.BooksFilters-sort-filter > svg {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.BooksFilters-icon-filter:last-child {
  margin-right: 0;
}

.BooksFilters-sort-filter > input,
.BooksFilters-icon-filter > input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  left: 0;
  cursor: pointer;
}

.BooksFilters-icon-filter > input + svg path,
.BooksFilters-icon-filter > input + svg polygon,
.BooksFilters-icon-filter > input + svg rect {
  transition: fill 250ms;
}
